@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

#heroimg {
    width: 100vw;
}


#articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
}

#smallPosts {
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 149);
    margin-top: 0ch;
}


#articles {
    border-bottom: rgba(229, 166, 78, 0.658);
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

#articles a {
    color: rgb(216, 126, 36);
    font-weight: bold;
    margin: 5px;
}

#articles a:visited {
    color: rgb(204, 85, 0);
}

.topNews {
    width: 80vw;
    width: 100vw;
}



@media screen and (min-width:1050px) {
    #hello {
        display: flex;
        flex-direction: row;
    }

    .topNews {
        width: 33vw;
        height: 20vh
    }

    #headerTitle {
        /* margin: auto; */
        content: "";
        display: inline-block;
        width: 100%;
    }

    #headerDescription {
        content: "";
        display: inline-block;
        width: 100%;
        margin: auto;
    }
}