
/* borders not needed, just for css */
.images {
    width: 40vw;

    border-width: 4px;
    border-style: solid;
    border-color: rgb(255, 127, 127);
}
.cardCont {
    display: flex;

    border-width: 4px;
    border-style: solid;
    border-color: rgb(246, 255, 127);
}


/* card links color before and visited below */
.cardCont a {
color: red; 
margin: 5px;


}
.cardCont a:visited {
    color: green; 

    
    }

#smallPosts{  
    border-width: 4px;
    border-style: solid;
    border-color: aquamarine;
    
    width: auto;

    display: flex;
    
}