
/* borders not needed, just for css */
.images {
    width: 40vw;
    height: auto;


}

#cardTitle{
  

    
    margin: 10px;
    font-size: 13px;

}
.cardCont {
    display: flex;
    align-items: center;
    background-color: rgb(255,234,174);
    margin: 5px;

    border-bottom: rgb(255, 219, 120);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    
}


/* card links color before and visited below */
.cardCont a {
color: rgb(216,126,36);
font-weight: bold;
margin: 5px;


}
.cardCont a:visited {
    color: rgb(204,85,0); 

    
    }

#smallPosts{  
   
    
    width: auto;

    display: flex;
    
}