body {
    background-color: #FFEAAE; 
}

#footer {
    background-color: #FFEAAE;
    text-align: center;
}

h6 {
    color: #D87E24;
}

a {
    color: #D87E24;
}

a:link {
    color: #D87E24; 
}

a:visited, a:hover, a:active {
    color: #CC5500
}