#nav {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: white;
}

#tagline {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

#slogan {
    font-family: 'Playfair Display', serif;
    color: rgb(216,126,36);
    font-size: 46px;
}

#trumpClipart {
    width: 46px;
    height: 36.75px;
    margin-bottom: -4px;
}